{% extends 'index.html' %}

{% block title %}
    Albums Page
{% endblock %}

{% block content %}
<h2 style="color:white">Albums</h2>
<form method="POST" action="">
<div class="input-group">
  <div class="form-outline">
    <input id="search-input" type="search" id="form1" class="form-control" name="album_name" placeholder="Search Albums"/>
    <label class="form-label" for="form1"></label>
  </div>
  <button id="search-button" type="submit" class="btn btn-primary">
    <i class="fas fa-search"></i>
  </button>
</div>
</form>
{% if names %}
<h1 style="color:white;">{{album_name}}</h1>
{% for i in range(names[-1]) %}
<div>
    <h2 style="color:white;">{{names[i]}}</h2>
    <iframe width="560" height="315" src={{urls[i]}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<hr>
{% endfor %}
{% endif %}
{% endblock %}>